.content
  .header
    h3.name=name
    
  .resource-area
    - for (var i = 0; i < size; ++i) {
      .box
        .element
    - }

  .ability-area
    .ability-name=ability_name
    .ability-description=ability_description
