.explosion-image {
  width: 50px;
  height: 50px;
}
.conversion {
  margin-bottom: 100px;
  margin-top: 50px;
  height: 100%;
}
.conversion .cost {
  width: 40%;
  float: left;
}
.conversion .value {
  width: 40%;
  float: right;
}
.content {
  margin-left: 10px;
}
